<table class="info-table">
  <tr>
    <td width="10%" align="right">客戶編號：</td>
    <td>{{data.customer.systemId}}</td>
  </tr>
  <tr>
    <td width="10%" align="right">預設帳戶名稱：</td>
    <td>{{data.contract?.defaultAccountName}}</td>
  </tr>
  <tr>
    <td width="10%" align="right">EIP 同步資料：</td>
    <td>
      公司名稱：{{data.customer.systemName}}<br />
      公司統編：{{data.customer.taxNumber}}<br />
      公司地址：{{data.customer.address}}<br />
      發票抬頭：{{data.customer.invoiceTitle}}<br />
      發票統編：{{data.customer.invoiceTaxNumber}}<br />
      發票地址：{{data.customer.invoiceAddress}}<br />
    </td>
  </tr>
  <tr>
    <td width="10%" align="right">聯絡資料：</td>
    <td>
      聯絡人：{{data.contract.contactName}}，
      電話：{{data.contract.contactPhone}}<br />
      信箱：{{data.contract.contactEmail}}<br />
    </td>
  </tr>
  <tr>
    <td width="10%" align="right">業務：</td>
    <td>目前業務員：{{data.systemUserName}}</td>
  </tr>
  <tr>
    <td width="10%" align="right">企劃：</td>
    <td>
      目前企劃：{{data.productPersonInChargeName}} <br />
      <table *ngIf="data.picHistories?.length > 0" class="data-table" style="width: 350px">
        <tr>
          <td>企劃</td>
          <td>開始</td>
          <td>結束</td>
        </tr>
        <tr *ngFor="let row of data.picHistories">
          <td>{{row.systemUserName}}</td>
          <td>{{row.startDate}}</td>
          <td>{{row.systemExpiredDate}}</td>
        </tr>
      </table>
    </td>

  </tr>
  <tr>
    <td width="10%" align="right">合約編號：</td>
    <td>
      進案日期：{{data.startDate}} 編號：{{data.systemId}}
    </td>
  </tr>
  <tr>
    <td width="10%" align="right">收費：</td>
    <td>
      簽約總金額（含稅）：{{data.amount | number}}元，刊登廣告預算：{{data.contract.budgetAmount | number}}元<br />
      服務費：{{data.contract.serviceAmount | number}}元（{{data.contract.serviceRate | percent}}），
      其他費用：{{data.contract.budgetAmount | number}}元，
      開戶費：{{data.contract.accountOpeningAmount | number}}元<br />
      <table *ngIf="data.receipts?.length > 0" class="data-table">
        <thead>
          <tr>
            <th class="numeric" style="width: 2%">NO</th>
            <th style="width: 5%">類型</th>
            <th style="width: 2%">發票號碼</th>
            <th style="width: 10%">發票日期</th>
            <th style="width: 5%">支票號碼</th>
            <th style="width: 10%">兌現日</th>
            <th class="numeric" style="width: 5%">收款金額</th>
            <th class="numeric" style="width: 5%">發票金額</th>
            <th class="numeric" style="width: 5%">累計收款</th>
            <th class="numeric" style="width: 5%">廣告費</th>
            <th class="numeric" style="width: 5%">累計廣告費</th>
            <th style="width: 10%">收款日</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data.receipts">
            <td>{{row.rowNumber}}</td>
            <td>{{row.type.systemName}}</td>
            <td>{{row.invoiceNumber}}</td>
            <td>{{row.invoiceDate}}</td>
            <td>{{row.checkNumber}}</td>
            <td>{{row.checkDate}}</td>
            <td class="numeric">{{row.amount | number}}</td>
            <td class="numeric">{{row.invoiceAmount | number}}</td>
            <td class="numeric">{{row.cumulativeAmount | number}}</td>
            <td class="numeric">{{row.budgetAmount | number}}</td>
            <td class="numeric">{{row.cumulativeBudgetAmount | number}}</td>
            <td>{{row.incomeDate}}</td>
            <td>{{row.comment}}</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td width="10%" align="right">預算：</td>
    <td>
      <table *ngIf="data.budgets?.length > 0" class="data-table">
        <thead>
          <tr>
            <th class="numeric" style="width: 2%">NO</th>
            <th style="width: 10%">存入日</th>
            <th style="width: 20%">帳戶</th>
            <th class="numeric" style="width: 5%">存入金額</th>
            <th class="numeric" style="width: 5%">累計金額</th>
            <th style="width: 5%">類型</th>
            <th style="width: 5%">說明</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data.budgets">
            <td>{{row.rowNumber}}</td>
            <td>{{row.saveDate}}</td>
            <td>{{row.accountId}}</td>
            <td class="numeric">{{row.amount | number}}</td>
            <td class="numeric">{{row.cumulativeAmount | number}}</td>
            <td>{{row.saveType.systemName}}</td>
            <td>{{row.saveNote}}</td>
            <td>{{row.memo}}</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td width="10%" align="right">合約類型：</td>
    <td>{{data.productName}}</td>
  </tr>
  <tr>
    <td width="10%" align="right">委刊類型：</td>
    <td>
      <app-contract-state [data]="data.state"></app-contract-state>
    </td>
  </tr>
  <tr>
    <td width="10%" align="right">備註：</td>
    <td>
      <pre>{{data.contract.comment}}</pre>
    </td>
  </tr>
  <tr>
    <td width="10%" align="right">財務備註：</td>
    <td>
      <pre>{{data.contract.financialComment}}</pre>
    </td>
  </tr>
</table>